vpt_venv/ 
"__pycache__/" 
"*.pyc" 
/.idea
/resources
/six_or_nine_task/stimuli
__pycache__
/venv
/datasets
/logs
/venv_win
/visual_perspective_taking.egg-info
/six_or_nine_task/standing_stimuli
/six_or_nine_task/plots
/six_or_nine_task/stimuli_1000
/six_or_nine_task/stimuli_5000
/six_or_nine_task/batch
/six_or_nine_task/results
.env
batch_id.txt
/six_or_nine_task/batch_experiment_file.csv

